<div style="display: flex; flex-direction: column; height: 80vh; justify-content: center; align-items: center;">
    <h2>Formulário de atualização</h2>
    <form (ngSubmit)="submitForm()" style="margin-top: 30px; width: 50%; background-color: #d3d3d3; padding: 10px; border-radius: 10px;" class="gap-3">
        <div class="row d-flex">
          <div class="form-group flex-fill col-md-4">
            <label for="inputName">Nome</label>
            <input type="text" name="name" [(ngModel)]="cliente.nomeCompleto" class="form-control" id="inputName" placeholder="Digite o seu nome...">
          </div>
          <div class="form-group flex-fill col-md-4">
            <label for="inputPassword4">Email</label>
            <input type="text" name="email" [(ngModel)]="cliente.email" class="form-control" id="inputEmail" placeholder="Digite o seu Email...">
          </div>
          <div class="form-group flex-fill col-md-4">
            <label for="inputPassword4">Senha</label>
            <input type="password" name="password" [(ngModel)]="cliente.senha" class="form-control" id="inputPassword4" placeholder="Digite a sua senha...">
          </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="form-group flex-fill col-md-3">
              <label for="inputStreet">Rua</label>
              <input type="text" name="street" class="form-control" [(ngModel)]="cliente.rua" id="inputStreet" placeholder="(Rua Alburquerque Lins)">
            </div>
            <div class="form-group flex-fill col-md-1">
              <label for="inputNumber">Nº</label>
              <input type="text" name="number" class="form-control" [(ngModel)]="cliente.numero" id="inputNumber" placeholder="(123)">
            </div>
            <div class="form-group flex-fill col-md-2">
              <label for="inputCity">Cidade</label>
              <input type="text" name="city" class="form-control" [(ngModel)]="cliente.cidade" id="inputCity" placeholder="(São Paulo)">
            </div>
            <div class="form-group flex-fill col-md-2">
              <label for="inputCep">CEP</label>
              <input type="text" name="cep" class="form-control" [(ngModel)]="cliente.cep" id="inputCep" placeholder="(14090054)">
            </div>
        </div>
          <div class="row d-flex justify-content-start">
            <div class="form-group col-md-5">
              <label for="inputState">Estado</label>
              <select name="state" [(ngModel)]="cliente.estado" id="inputState" class="form-control">
                <option selected>Selecione o seu estado...</option>
                <option>Acre</option>
                <option>Alagoas</option>
                <option>Amapá</option>
                <option>Amazonas</option>
                <option>Bahia</option>
                <option>Ceará</option>
                <option>Distrito Federal</option>
                <option>Espírito Santo</option>
                <option>Goiás</option>
                <option>Maranhão</option>
                <option>Mato Grosso</option>
                <option>Mato Grosso do Sul</option>
                <option>Minas Gerais</option>
                <option>Pará</option>
                <option>Paraíba</option>
                <option>Paraná</option>
                <option>Pernambuco</option>
                <option>Piauí</option>
                <option>Rio de Janeiro</option>
                <option>Rio Grande do Norte</option>
                <option>Rio Grande do Sul</option>
                <option>Rondônia</option>
                <option>Roraima</option>
                <option>Santa Catarina</option>
                <option>São Paulo</option>
                <option>Sergipe</option>
                <option>Tocantins</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputCpf">CPF</label>
              <input type="text" name="cpf" [(ngModel)]="cliente.cpf" class="form-control" id="inputCpf" placeholder="(473.345.238-67)">
            </div>
            <div class="form-group col-md-3">
              <label for="inputRg">RG</label>
              <input type="text" name="rg" [(ngModel)]="cliente.rg" class="form-control" id="inputRg" placeholder="(47.345.238-6)">
            </div>
            <div class="form-group col-md-3">
              <label for="inputLivro">Livro</label>
              <input type="text" name="book" [(ngModel)]="this.cliente.livro" class="form-control" id="inputBook">
            </div>
          </div>
        <div style="margin-left: 1px;" class="row d-flex">
          <button type="submit" style="width: 10%;" class="btn btn-primary">Enviar</button>
        </div>      
    </form>
  </div>